/* @import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap"); */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kdam Thmor Pro", monospace;
  color: #080b14;
  background-color: #183b4e;
  margin: 0;
  padding: 0;
}

.blue {
  color: rgb(105, 105, 255);
  font-weight: 400;
}

.red {
  color: white;
  font-weight: 800;
  background-color: rgb(237, 66, 66);
}

.black {
  color: black;
}

.green {
  color: rgb(129, 245, 80);
  font-weight: 800;
}

.gray {
  color: gray;
}

#vanta {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

h1 {
  top: 0;
  padding: 0;
  margin: 0;
  color: #dda853;
  -webkit-filter: drop-shadow(0 0 25px #dda853);
  filter: drop-shadow(0 0 25px #dda853, 0 0 25px #dda853, 0 0 25px #dda853);
}

main {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5em;
  gap: 10em;
  opacity: 0;
  filter: blur(10px);
  transition:
    opacity 0.3s ease-in-out,
    filter 0.3s ease-in-out;
  animation: fadeIn 0.5s forwards;
}

section {
  display: flex;
  flex-wrap: nowrap;
  box-shadow:
    0 0 25px #97866a,
    0 0 25px #97866a,
    0 0 25px #97866a;
  border: 3px solid #183b4e;
  border-radius: 8px;
  background-color: #183b4e;
  padding: 0;
  width: 100%;
  max-width: 600px;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  transition: all 0.3s ease-in-out;

  button {
    width: 100%;
    box-sizing: border-box;
    border: 20px double#183B4E;
  }
}

.menu-container button {
  border: 3px solid #183b4e;

  background-color: #dda853;
  color: #183b4e;
  border: none;
  padding: 1em;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.new {
  border-radius: 8px 0 0 0;
}
#about {
  background-color: transparent;
  color: red;
  border-radius: 0 0 0 8px;
}
#about:hover {
  color: #dda853;
}

.btn:hover {
  background-color: transparent;
  color: #dda853;
  border: 6px inline #dda853;
}

.game-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.5rem;
  padding: 0 1em;
}

/* .game-input {
    display: n

} */

/* .game-input input{
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    font-size: 1.2em;
    border: 20px double#183B4E;
    background-color: #DDA853;
    color:#183B4E;
} */
.menu-container > button > #about {
  text-decoration: none;
  color: #dda853;
  &:hover {
    color: #dda853;
  }
}
.menu-container:hover {
  background-color: transparent;
  color: #dda853;
  border: 3px solid #dda853;
}
.score-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1em;
  gap: 1em;
  border: 3px solid #183b4e;
  border-radius: 8px 8px 0 0;
}
#input {
  display: none;
}
.cursor {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  padding: 0 1px;
  margin: 0 -1px;
  color: #dda853;
}
#input {
  display: none;
}

#visibleinput {
  bottom: 0;
  left: 0;
  width: 80%;
  text-decoration: none;
  border: none;
  background-color: hsla(205, 66%, 43%, 0.479);

  padding: 0.5rem;
  font-size: 1.5rem;
}

#visibleinput:focus {
  color: white;
  border: none;
  text-decoration: none;
  outline: none;
}
.about-internal {
  background-color: black;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  margin-bottom: 1rem;
  padding-block: 0.25rem;
}
.game-text {
  flex: 1;
  display: flex;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 80%;
  }

  section {
    flex-direction: column;
  }

  .menu-container {
    flex-direction: row;
    width: 100%;
  }

  .menu-container button {
    flex: 1;
    font-size: 1rem;
    padding: 0.8em;
  }
  .score-container {
    flex: 1;
    flex-direction: column;
  }
  .stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10em;
  }

  #sample {
    font-size: 1rem;
  }

  #visibleinput {
    font-size: 1.2rem;
  }
}

/* Very small screens */
@media only screen and (max-width: 600px) {
  #vanta {
    right: 0;
    bottom: 0;
  }

  body {
    font-size: 60%;
  }

  .menu-container button {
    padding: 0.6em;
  }
  .about {
    border-radius: 0px 8px 0px 0px;
  }
  .stats {
    gap: 1.6em;
  }
}
